.background{
    background-image: url(../../public/glassesImage/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.header_title{
    height: 10vh;
    background-color:  rgba(0, 0, 0, 0.8); 
    color: white;
    font-size: 30px;
    line-height: 10vh;
}
.glassesModel {
    position: relative;
   
    background: url(../../public/glassesImage/model.jpg);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 40vh;
    position: relative;
}
.glassChoosen{
    position: absolute;
    left: 568px;
    top: 74px;
}
.glassChoosen img {
    width: 30%;
}

.itemGlass{
    width: 50%;
    cursor: pointer;
}
.glassesInfo {
    position: absolute;
    bottom: 0;
    left: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20%;
    color: white;
    padding: 5px;
}


